/*
a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}

header, footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 6px 0;
}

.block {
    font-family: Arial, serif;
    width: 50%;
    border-radius: 20px;
    border: 3px solid skyblue;
    margin: 0 25% 0 25%;
    background-color: #9de9ff;
    text-align: center;
    padding-bottom: 10px;
}

.blockCalories {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    background-color: #79dcdf;
    padding: 3px;
    border-bottom: solid 1px black;
}

.blockMeal {
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    margin:0 26% 0 24%;
    width: 50%;
    background-color: aliceblue;
}

.tableBlue {

    margin: auto;
    background-color: white;
    border-spacing: 0;
    border: 5px solid skyblue;
    border-radius: 20px;
}
.tableBlue td, .tableBlue th {
    padding: 12px;
    border-left: 2px solid skyblue;
    border-top: 2px solid skyblue;
}
.tableBlue th {
    background: #fff5d7;
    border-top: none;
}
.tableBlue td:first-child, .tableBlue th:first-child {
    border-left: none;
}

!* из-за background *!

.tableBlue th:first-child {
    border-top-left-radius: 20px;
}
.tableBlue th:last-child {
    border-top-right-radius: 20px;
}

dl {
    margin: 7px 0;
}

dt {
    display: inline-block;
    width: 150px;
}

dd {
    display: inline;

}*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.normal {
    color: green;
}

.exceeded {
    color: red;
}

.error, .message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
}
.error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}
.message {
    color: #2f9635;
    background-color: #c6fbc2;
    border: 1px solid #9feba6;
}